<section class="create-shop-page">
	<div class="header">
		<h1>Create your shop</h1>
		<p class="subtitle">Add the main information to get started.</p>
	</div>

	<form class="form-card" [formGroup]="form" (ngSubmit)="submit()">
		<mat-form-field appearance="fill" class="full-width">
			<mat-label>Shop name</mat-label>
			<input matInput formControlName="name" placeholder="Ex: Atelier Lune" />
            <mat-icon matPrefix>storefront</mat-icon>
            
			<mat-error *ngIf="form.controls.name?.hasError('required')">
				Shop name is required
			</mat-error>
			<mat-error *ngIf="form.controls.name?.hasError('minlength')">
				Minimum 2 characters
			</mat-error>
		</mat-form-field>

		<div class="actions">
			<button mat-stroked-button type="button" routerLink="/boutique/my-shop">
				Cancel
			</button>
			<button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">
				<mat-icon>storefront</mat-icon>
				Create
			</button>
		</div>

		<div *ngIf="submitError" class="state error">
			<mat-icon>error</mat-icon>
			{{ submitError }}
		</div>
	</form>
</section>
